<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>LaTeXBooks.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>FFA5BB0D2C5156E200B0E282</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FFA5BB1E2C5156E300B0E282</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FFA5BB282C5156E300B0E282</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
